services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2019-latest
    container_name: sqlserver_container
    env_file:
      - ../configs/.env
    ports:
      - "${DB_PORT}:1433"
    environment:
      - ACCEPT_EULA=${ACCEPT_EULA}
      - MSSQL_SA_PASSWORD=${SA_PASSWORD}
      - MSSQL_PID=${MSSQL_PID}
    volumes:
      - sqlserver_data:/var/opt/mssql

volumes:
  sqlserver_data:

