name: Go - CI


## apenas os testes unitarios
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

    testes-Unitarios:
      runs-on: ubuntu-latest
      steps:
      - name: checkout do codigo
        uses: actions/checkout@v4

      - name: configurações golang
        uses: actions/setup-go@v4
        with:
          go-version: '1.25.1'

      - name: Rodando os testes Unitarios
        run: go test -v ./...    


    teste-integracao:
      needs: testes-Unitarios
      runs-on: ubuntu-latest

      steps: 
          - name: checkout do codigo
            uses: actions/checkout@v4

          - name: configurações golang
            uses: actions/setup-go@v4
            with:
              go-version: '1.25.1'

          - name: criando arquivo .env a partir de secrets do github
            run: echo "${{ secrets.ENV.FILE}}" > configs/.env

          - name: subindo o docker compose
            run: docker-compose -f docker/docker-compose.yml up -d

          - name: esperando o banco de dados subir

            run: |
                  echo "Esperando 20 segundos pelo SQL Server..."
                  sleep 20
                  echo "Verificando os contêineres..."
                  docker-compose -f docker/docker-compose.yml ps

          - name: rodando os testes de integração
            run:  go test -v -tags=integration ./...
